.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
}
h1 {
    text-align: center;
    padding: 1em;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    background-color: #fff;
}
.load-more {
    align-self: center;
    background-color: rgb(255, 255, 255);
    width: 9em;
    padding: 0.4em;
    margin: 2em 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .4s;
}
.load-more:hover {
    background-color: rgb(240, 240, 240);
}